@model LoginView;
@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="card">
    <div class="text-center ">
        <h1 class="display-4">Bienvenido al Sistema de Registros de Enfermeria</h1>
    </div>
</div>
<div>
    <div class="card text-center">
        <div class="card-content">
            <div class="card-body">
                <p class="card-text">En esta Web vamos a registrar las prestaciones de enfermeria y recibiremos los
                    reportes correspondientes a dichas cargas.</p>
                <p class="card-text">Solo necesitas ingresar al sistema con tu correo y contraseña</p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3 col-3">
    <div class="card text-center">
        <div class="card-content">
            <div class="card-body">
                <form asp-action="LoginIn"  method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="row mt-3">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" placeholder="" />
                            <label asp-for="Email" class="control-label">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Password" type="password" class="form-control" placeholder="" />
                            <label asp-for="Password" class="control-label">Contraseña</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <button type="submit" class="btn btn-success">Iniciar Sesión</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>